<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <style>
  .controls > div {
      -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
      flex: 0 1 33%;
  }
  h3 {
    margin: 20px auto;
    max-width: 600px;
  }
  th {
    text-align: left;
    width: 50%;
  }
  ul {
      list-style-type: none;
      margin: 20px auto;
      max-width: 600px;
      padding-left: 0;
  }
  </style>
  <body>
    <responsive-child>
      <main v-cloak class="interactive">
        <header>
          <h1>Compare local business taxes in Washington</h1>
          <p>Explore the local business-tax bill in 10 of Washington’s major cities with this tax comparison tool. There are important caveats to be aware of in this comparison, and it should not be used to estimate your actual local tax burden. Open the info boxes <small>ⓘ</small> to read more about the parameters and taxes, and see a more detailed explanation below.</p>
        </header>

        <!-- 
        <span class="radio-hed">Choose an example business</span>
        <div class="radio presets">
          <label v-for="(example, exampleName) in examples" v-bind:class="{selected: preset === exampleName}">
            {{ exampleName }}
            <input type="radio" v-model="preset" v-bind:value="exampleName">
          </label>
        </div> 
        -->

        <p style="text-align: center"><strong>Start by selecting the type of business:</strong></p>

        <span class="radio-hed">Type of business <info v-bind:text="businessInputs.bizType.info" where="bizInputInfo"></info></span>
        <div class="radio">
          <label v-for="bizType in bizTypes" v-bind:class="{selected: businessInputs.bizType.value === bizType}">
            {{ bizType }}
            <input type="radio" v-model="businessInputs.bizType.value" v-bind:value="bizType" v-on:input="preset = 'newCustom'">
          </label>
        </div>

        <p><strong>Then choose the numbers</strong><br/>Set the parameters for your business – gross revenue, employees and taxable business purchases – to see how business and occupation taxes (B&O), sales taxes and business license fees compare from city to city. (Utility and property taxes are not included in this calculator.<info v-bind:text="introInfo" where="bizInputInfo"></info>) You can enter an exact number, or move the slider bars for each parameter. Hovering over the chart shows details of each city’s taxes.</p>

        

        <div class="controls">
          <div v-for="(i, short) in businessInputs" v-if="short !== 'space' && short !== 'bizType'">
            <label v-bind:for="short">
              {{ i.name }}
              <info v-bind:text="i.info" where="bizInputInfo"></info>
            </label>
            <input v-bind:id ="short" type="number" v-model.number="i.value" min="0" v-bind:max="i.max" v-bind:step="i.step" v-on:input="preset = 'newCustom'" v-if="short !== 'space'">
            <label v-bind:for="short" class="formatted" aria-hidden="true" v-if="short !== 'space'">{{ formatInput(short, i.value) }}</label>
            <input type="range" v-model.number="i.value" min="0" v-bind:max="i.max" v-bind:step="i.step" v-on:input="preset = 'newCustom'" v-if="short !== 'space'">
          </div>
        </div>
        <transition name="slide">
          <div class="info-box input-info" v-if="bizInputInfo" v-html="bizInputInfo"></div>
        </transition>

        <div class="result">
          <ul class="legend">
            <li v-for="outputKey in outputKeys" tabindex="0"
            v-on:mouseover="showOnly(outputKey)" v-on:focus="showOnly(outputKey, true)"
            v-on:mouseout="showOnly()" v-on:blur="showOnly(null, true)">
            {{ outputsMeta[outputKey].name }} <span v-bind:class="[outputKey]"></span>
            </li>
          </ul>

          <div class="chart">
            <div v-for="city in cities">
              <div class="column">
                <div class="column-label">
                  {{ city }}
                </div>
                <div class="bricks">
                  <div class="brick" v-for="outputKey in outputKeys"
                    v-bind:style="{ width: `${outputs[city][outputKey].value / totalBurden.max * maxColWidth}px` }"
                    v-bind:class="[outputKey, { hidden: outputsMeta[outputKey].hidden }]"
                    v-on:focus="showHoverBox($event, city, outputKey)" v-on:blur="closeHoverBox"
                    v-on:mousemove="showHoverBox($event, city, outputKey)" v-on:mouseout="closeHoverBox"
                    tabindex="0"></div>
                </div>
                <div class="column-total">{{ totalBurden[city] }}</div>
              </div>
            </div>

            <div class="hover-box" v-show="hoverBoxContent">
              <button class="close" v-on:click="closeHoverBox">close</button>
              <equation v-bind:parts="hoverBoxContent"></equation>
              <span class="caveat" v-if="hoverCaveat">* {{ hoverCaveat}}</span>
            </div>
          </div>
        
          
          <div class="chart">
          <table>
              <tr><th>Property taxes by city</th></tr>
              <tr>
              <td class="legend" style="padding-left:0">
              Median 2018 property-tax levy rate, per $1,000 of assessed property value
              </td>
              </tr>
              </table>
              <table>
              <tr class="column">
                <td class="column-label">Seattle</td><td><div class="brick property" style="width:95.6207px">
                    </div></td>
                <td class="column-total">$9.56207 </td>
                </tr>
                <tr class="column">
                <td class="column-label">Spokane</td><td><div class="brick property" style="width:138.8061px">
                    </div></td>
                <td class="column-total">$13.88061</td></tr>
                <tr class="column">             
                <td class="column-label">Tacoma</td><td><div class="brick property" style="width:157.6211px">
                    </div></td>
                <td class="column-total">$15.76211</td></tr>
                <tr class="column">
                <td class="column-label">Vancouver</td><td><div class="brick property" style="width:120.8074px">
                    </div></td>
                <td class="column-total">$12.08074</td></tr>
                <tr class="column">
              
                <td class="column-label">Bellevue</td><td><div class="brick property" style="width:91.9441px">
                    </div></td>
                <td class="column-total">$9.19441</td></tr>
                <tr class="column">
                <td class="column-label">Kent</td><td><div class="brick property" style="width:124.0922px">
                    </div></td>
                <td>$12.40922</td></tr>
                <tr class="column">
              
                <td class="column-label">Everett</td><td><div class="brick property" style="width:121.687px">
                    </div></td>
                <td class="column-total">$12.1687</td></tr>
                <tr class="column">
                <td class="column-label">Renton</td><td><div class="brick property" style="width:125.1853px">
                    </div></td>
                <td class="column-total">$12.51853</td></tr>
                <tr class="column">
                <td class="column-label">Kirkland</td><td><div class="brick property" style="width:99.1181px">
                    </div></td>
                <td class="column-total">$9.91181</td></tr>
                <tr class="column">
              
                <td class="column-label">Redmond</td><td><div class="brick property" style="width:99.7384px">
                    </div></td>
                <td class="column-total">$9.97384</td>
              </tr>
            </table>
            </div>
          </div>
          <p>Businesses pay property taxes at the same rate as other property owners. If they lease space, their rent typically reflects the taxes paid by landlords, though business tenants may also pay property taxes themselves.

          <p>Here, we provide consolidated property-tax levy rates in each city, including all local and state levies – those to fund schools, fire districts and for other purposes. In many Washington cities, consolidated levy rates vary even within the same city because of overlapping taxing districts. We’ve used a single rate for each city – either a predominant rate or an average rate – provided by county assessors.</p>

          <p>But the levy rate is only half the equation. The other half is the value of the property, as determined by county assessors. To determine the property tax owed, the value is divided by 1,000 and multiplied by the levy rate. For example, the owner of a property in Bellevue valued at $1 million would owe $9,194.41 in property taxes: $1,000,000/1,000 = 1,000 x 9.19441 = $9,194.41.</p> 

          <p>But there are wide variations in local real-estate values, and a million-dollar property in Tacoma will likely be very different from one at that valuation in Bellevue. A business looking for the same amount and quality of space may be able to find it for a lower cost in Tacoma than in Bellevue, resulting in a lower total property tax bill, even though Tacoma’s levy rate is higher. That’s part of why it is difficult to make a broadly applicable comparison of the property taxes businesses would pay from one city to another.</p>

          <p>You can find the assessed value of your property or search for specific properties at the assessor websites for King, Snohomish, Pierce, Spokane or Clark counties.<br>
            <ul>
              <li><a href="https://payment.kingcounty.gov/Home/Index?app=PropertyTaxes">King</a></li>
              <li><a href="http://gis.snoco.org/maps/property/viewer.htm">Snohomish</a></li>
              <li><a href="https://epip.co.pierce.wa.us/CFApps/atr/ePIP/search.cfm">Pierce</a></li>
              <li><a href="http://cp.spokanecounty.org/scout/propertyinformation/">Spokane</a></li>
              <li><a href="http://gis.clark.wa.gov/gishome/property/">Clark</a></li>
            </ul>
          </p>
        </section>

        <footer>
          <h2>Methodology and caveats</h2>

          <p>During Seattle’s head-tax debate this spring, there was lots of rhetoric about rising business taxes in the city, but few, if any, comparisons of Seattle’s taxes to those levied by other Washington cities. Such a comparison is complicated by variations in tax structures and rates levied in each city, in the levels of service provided by different cities and in the cost of doing business from place to place.</p>

          <p>Washington cities can tax businesses in four main ways: property taxes, local sales taxes, business and occupation taxes (B&O), and utility taxes. There are also business license fees, sometimes augmented by what are effectively head taxes. Cities collect other taxes and licensing fees from specific businesses – hotels, for example, and in Seattle, the new soda tax – that we’re not dealing with here.</p>

          <p>For this calculator, we’ve focused on B&O, sales taxes and business license fees, including those with a per-employee component.</p>

          <p>The calculator doesn’t purport to provide a full picture of the local business tax burden for each city. Most businesses operate across city lines and would owe taxes to multiple jurisdictions, in addition to the state. Rather, the point is to give you a sense of how some significant business taxes vary from one city to another.</p>

          <transition name="slide">
            <div v-show="expandedFooter" class="more-methodology">
              
              <h3>B&O tax</h3>
              <p><a href="https://wacities.org/docs/default-source/resources/botaxrates.pdf">Local B&O tax rates, effective Jan. 1, 2018</a>, calculated for each city based on gross revenue</p>

              <h3>Business license and head tax</h3>
              <p>Business license and per-employee fees calculated based on parameters laid out at each city’s website:</p>
              <ul>
                <li><a href=" https://www.seattle.gov/business-licenses-and-taxes/business-licenses#cost">Seattle</a></li>
                <li><a href="https://bls.dor.wa.gov/cities/spokanefees.aspx">Spokane</a></li>
                <li><a href="http://www.cityoftacoma.org/cms/One.aspx?portalId=169&pageId=124431">Tacoma</a> </li>
                <li><a href="https://www.cityofvancouver.us/fms/page/business-and-special-licenses">Vancouver</a></li>
                <li><a href="https://www.bellevuewa.gov/city-government/departments/finance/doing-business-with-bellevue/business-licenses/">Bellevue</a></li>
                <li><a href="https://www.kentwa.gov/home/showdocument?id=9398">Kent</a></li>
                <li><a href="https://everettwa.gov/175/Business-License">Everett</a> </li>
                <li><a href="https://www.rentonwa.gov/cms/one.aspx?pageId=9824882">Renton</a></li>
                <li><a href="https://www.kirklandwa.gov/depart/Finance_and_Administration/doingbusiness/Business_Licenses.htm">Kirkland</a> </li>
                <li><a href="http://www.redmond.gov/business/BusinessLicensing/FeesPayments/">Redmond</a></li>
              </ul>

              <h3>Sales tax on business purchases</h3>
              <p><a href="https://dor.wa.gov/sites/default/files/legacy/Docs/forms/ExcsTx/LocSalUseTx/LocalSlsUseFlyer_18_Q3_alpha.pdf">Local sales tax rates, effective July 1 through Sept. 30, 2018</a>, calculated based on retail purchases by the business itself. The calculator is preset to assume taxable business purchases amounting to 0.5% of company revenue, but the value can be adjusted. The tax rates given include all local sales taxes, including those imposed by other local jurisdictions such as counties and transit districts. In Seattle’s case, for example, less than a third of the local sales tax goes to the city. King County and Sound Transit get the rest. The calculator does not include the state sales tax rate of 6.5 percent. Spokane and Vancouver, situated near borders with states that have no sales tax, have lower local sales tax rates.</p>

              
            </div>
          </transition>
          <button v-if="!expandedFooter" v-on:click="expandedFooter = true">Tap to read full methodology</button>
        </footer>
        <p class="credits">Reporting and research by Benjamin Romano. Design and development by Alec Glassford.<br>
          <em>Economics consulting firm ECONorthwest provided pro bono research support and concept development.</em></p>
      </main>
    </responsive-child>
    <script>
      window.rates = <%= JSON.stringify(json.rates) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
